// Colors
$primary-color: #282c34;
$text-color: #333;
$background-color: #fff;

// Spacing
$spacing-xs: 0.2rem;
$spacing-sm: 0.4rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Typography
$font-size-base: 16px;
$font-size-lg: 2rem;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; 